#World based configuration of NEI.
#Most of these options can be changed ingame.
#Deleting any element will restore it to it's default value

inventory
{
	cheatmode=0
	itemsort=nei.itemsort.mod,nei.itemsort.minecraft,nei.itemsort.id,nei.itemsort.default,nei.itemsort.damage,nei.itemsort.name
	layoutstyle=0
	widgetsenabled=true
}

jei
{
	itemPanel=1
}
